.mushroom-tron {
    /* Background */
    background-image: url('/static/shrooooom.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Spacing */
    padding: 12rem 2rem;
}

.little-black {
    backdrop-filter: blur(5px);
    background-color: #00000033;
}